* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f8f8;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #fc8019;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.sign-btn {
    background: #fc8019;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #fc8019;
    color: white;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
}

.search-box input {
    padding: 12px;
    width: 300px;
    border: none;
}

.search-box button {
    padding: 12px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

/* CATEGORIES */
.categories {
    padding: 50px 80px;
}

.category-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 30px;
    flex: 1;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/* RESTAURANTS */
.restaurants {
    padding: 50px 80px;
}

.restaurant-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.restaurant-card {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
    margin-top: 50px;
}